In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import scipy.stats as stats

In [2]:
csvpath = os.path.join("data", "ny_chs_2013.csv")
ny_chs_df = pd.read_csv(csvpath)
#ny_chs_df.head()

In [3]:
truncated_df = ny_chs_df.loc[:, ["generalhealth", "insured", "neighpovgroup4_0812",
                                    "exercise13", "fruitveg", "agegroup5", "sex", "newrace","education"]]
#truncated_df.head()

In [4]:
truncated_df["generalhealth"].value_counts()

good         2838
very good    2151
excellent    1551
fair         1459
poor          644
Name: generalhealth, dtype: int64

In [5]:
cleanup_health = {"generalhealth": {"excellent": 5, "very good": 4, "good": 3, "fair": 2, "poor": 1}
                 }

In [6]:
truncated_df.replace(cleanup_health, inplace=True)
#truncated_df.head()

In [7]:
# NaN was set as a string so this method was ineffective
#truncated_df.dropna(how='any')
#truncated_df.count()

In [8]:
truncated_df = truncated_df[~truncated_df.isin(['NaN']).any(axis=1)]
truncated_df.count()

generalhealth          8008
insured                8008
neighpovgroup4_0812    8008
exercise13             8008
fruitveg               8008
agegroup5              8008
sex                    8008
newrace                8008
education              8008
dtype: int64

In [9]:
insured_dummy = truncated_df['insured'].replace(2, 0)
truncated_df['Insured'] = insured_dummy
del truncated_df['insured']
exercise_dummy = truncated_df['exercise13'].replace(2, 0)
truncated_df['Exercise'] = exercise_dummy
del truncated_df['exercise13']
sex_dummy = truncated_df['sex'].replace(2, 0)
truncated_df['Sex'] = sex_dummy
del truncated_df['sex']
truncated_df.head()

,generalhealth,neighpovgroup4_0812,fruitveg,agegroup5,newrace,education,Insured,Exercise,Sex
0,4.0,2.0,2.0,4.0,2,3.0,1.0,1.0,0
1,4.0,3.0,2.0,2.0,4,2.0,1.0,1.0,0
2,4.0,2.0,1.0,5.0,1,4.0,1.0,1.0,1
4,2.0,1.0,2.0,5.0,1,2.0,1.0,1.0,0
5,3.0,1.0,2.0,4.0,1,4.0,1.0,1.0,0

In [10]:
truncated_df = truncated_df.rename(index=str, columns={"generalhealth": "General Health",
                                                      "neighpovgroup4_0812": "(%) of Population Under FPL",
                                                      "fruitveg": "Eaten Fruits or Veggies Yesterday",
                                                      "agegroup5": "Age Group",
                                                      "newrace": "Race",
                                                      "education": "Education"                                                  
                                                     })

In [11]:
truncated_df.head()

,General Health,(%) of Population Under FPL,Eaten Fruits or Veggies Yesterday,Age Group,Race,Education,Insured,Exercise,Sex
0,4.0,2.0,2.0,4.0,2,3.0,1.0,1.0,0
1,4.0,3.0,2.0,2.0,4,2.0,1.0,1.0,0
2,4.0,2.0,1.0,5.0,1,4.0,1.0,1.0,1
4,2.0,1.0,2.0,5.0,1,2.0,1.0,1.0,0
5,3.0,1.0,2.0,4.0,1,4.0,1.0,1.0,0

In [12]:
clean_csv = os.path.join("data", "clean_data.csv")
truncated_df.to_csv(clean_csv)